*.egg-info/
*.log
*.pyc
*.sqlite
.DS_Store
.Python
.idea/
.coverage
.ropeproject
.tmp_commits_squashed
bin/
coverage.xml
db.sqlite3
dist/
include/
lib/
logs/
nosetests.xml
oscar_commerceconnect.egg-info/
public/
stderr.txt
stdout.txt
version-django-oscar-commerce-connect.txt
dump.rdb